In [11]:
from datetime import datetime
from datetime import timedelta

In [3]:
now=datetime.now()

In [4]:
now

datetime.datetime(2019, 11, 16, 15, 40, 18, 224121)

In [5]:
(now.year,now.month,now.day)

(2019, 11, 16)

In [8]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24)
delta

datetime.timedelta(days=927)

In [9]:
my_age=datetime(2019,11,16)-datetime(1998,7,1)

In [10]:
my_age

datetime.timedelta(days=7808)

In [15]:
start = datetime(2011, 1, 7)
start + timedelta(30)   #add 12 days

datetime.datetime(2011, 2, 6, 0, 0)

In [16]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [17]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [18]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [19]:
stamp.strftime('%Y/%m/%d')

'2011/01/03'

In [20]:
date='2019-11-16'
datetime.strptime(date, '%Y-%m-%d')

datetime.datetime(2019, 11, 16, 0, 0)

In [21]:
#Panda datetime

In [25]:
import pandas as pd
import numpy as np

In [24]:
pd.to_datetime(['1/1/2019','1/11/2019'])

DatetimeIndex(['2019-01-01', '2019-01-11'], dtype='datetime64[ns]', freq=None)

In [26]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7), 
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]
ser=pd.Series(np.random.randn(6),index=dates)
ser

2011-01-02    2.130666
2011-01-05    1.274142
2011-01-07    0.362797
2011-01-08   -1.716694
2011-01-10   -0.495880
2011-01-12    1.539900
dtype: float64

In [28]:
type(ser.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [32]:
ser.index[0]

Timestamp('2011-01-02 00:00:00')

In [36]:
df= pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000', periods=1000))
df

2000-01-01    0.229676
2000-01-02    0.486758
2000-01-03   -1.535978
2000-01-04   -0.787450
2000-01-05   -0.367724
                ...
2002-09-22    0.865071
2002-09-23    1.242417
2002-09-24    0.804631
2002-09-25   -0.333828
2002-09-26    0.644587
Freq: D, Length: 1000, dtype: float64

In [42]:
rang=pd.date_range('1/1/2000',periods=10)
rang

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', freq='D')

In [45]:
df['2001']

2001-01-01   -0.674090
2001-01-02    0.226162
2001-01-03    0.000243
2001-01-04   -0.649353
2001-01-05   -0.574069
                ...
2001-12-27   -0.159567
2001-12-28   -1.218202
2001-12-29    0.028747
2001-12-30    1.792240
2001-12-31    0.196763
Freq: D, Length: 365, dtype: float64

In [46]:
df['2001-04']

2001-04-01   -0.421795
2001-04-02   -1.939032
2001-04-03    0.772573
2001-04-04   -0.032857
2001-04-05   -0.151391
2001-04-06    1.455197
2001-04-07   -0.480267
2001-04-08    1.889809
2001-04-09    0.024956
2001-04-10   -1.107046
2001-04-11    0.066725
2001-04-12   -0.064922
2001-04-13    1.163287
2001-04-14    0.746186
2001-04-15    0.545047
2001-04-16    0.110809
2001-04-17    2.080747
2001-04-18    0.365225
2001-04-19   -1.129995
2001-04-20   -1.545442
2001-04-21   -1.016082
2001-04-22    0.089339
2001-04-23   -0.665575
2001-04-24    0.555315
2001-04-25    1.314844
2001-04-26   -0.198512
2001-04-27   -1.688485
2001-04-28   -1.691318
2001-04-29    1.106966
2001-04-30    0.648961
Freq: D, dtype: float64

In [51]:
df['1/1/2000':'13/1/2000']

2000-01-01    0.229676
2000-01-02    0.486758
2000-01-03   -1.535978
2000-01-04   -0.787450
2000-01-05   -0.367724
2000-01-06    0.622459
2000-01-07   -1.247948
2000-01-08    1.563984
2000-01-09   -0.428439
2000-01-10    0.946772
2000-01-11   -0.035921
2000-01-12    1.083307
2000-01-13    0.107726
Freq: D, dtype: float64

In [52]:
df.truncate(after='1/9/2011')

2000-01-01    0.229676
2000-01-02    0.486758
2000-01-03   -1.535978
2000-01-04   -0.787450
2000-01-05   -0.367724
                ...
2002-09-22    0.865071
2002-09-23    1.242417
2002-09-24    0.804631
2002-09-25   -0.333828
2002-09-26    0.644587
Freq: D, Length: 1000, dtype: float64

In [53]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [58]:
df2 = pd.DataFrame(np.random.randn(100, 4),index=dates,columns=['Colorado', 'Texas', 'New York', 'Ohio'])
df2.head()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.207014  0.613482 -1.197324  0.518973
2000-01-12 -0.582660 -0.796413 -0.056126  1.006261
2000-01-19 -0.900086  1.060446  0.124480  1.064223
2000-01-26  0.272700 -0.370389 -1.842678  1.274920
2000-02-02  1.758481 -0.276767 -0.854003 -0.310862

In [59]:
df2.shape

(100, 4)

In [61]:
df2.ix['5-2001']

C:\Users\DeLL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

            Colorado     Texas  New York      Ohio
2001-05-02 -2.333387 -0.001548  1.081190 -0.578019
2001-05-09  1.092514  0.900568 -1.437192  0.288632
2001-05-16  0.031368 -0.949283 -0.595917  1.595547
2001-05-23 -0.706465 -1.140907 -0.498213  0.354022
2001-05-30 -1.005050  1.529265  1.219112 -0.046418

In [62]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000','1/3/2000'])
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

In [65]:
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [66]:
dup_ts.index.is_unique

False

In [67]:
dup_ts['1/3/2000']  # not duplicated

4

In [70]:
dup_ts['1/2/2000']  # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [71]:
grouped = dup_ts.groupby(level=0)

In [73]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [74]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

**Generating Date Ranges**

In [75]:
index = pd.date_range('4/1/2012', '6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [76]:
 pd.date_range(start='4/1/2012', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [77]:
 pd.date_range(end='6/1/2012', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [78]:
pd.date_range('1/1/2000', '12/1/2000', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [79]:
ts= pd.date_range('5/2/2012 12:56:31', periods=5, normalize=True)

In [80]:
ts

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [81]:
from pandas.tseries.offsets import Hour, Minute

In [84]:
hour=Hour(2)

In [85]:
hour

In [86]:
Hour(2) + Minute(30)

In [88]:
f= pd.date_range('1/1/2000', '1/2/2000 23:59', freq='4h') 
f

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [91]:
f2=pd.date_range('1/1/2000', periods=4, freq='1h30min')
f2

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [92]:
rng = pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI')
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [94]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D') 
ts = pd.Series(np.random.randn(len(rng)), index=rng) 
ts

2012-03-09 09:30:00    0.275108
2012-03-10 09:30:00    1.134178
2012-03-11 09:30:00   -0.579099
2012-03-12 09:30:00    1.220439
2012-03-13 09:30:00    1.142126
2012-03-14 09:30:00    2.295029
Freq: D, dtype: float64

In [96]:
rng = pd.date_range('1/1/2000', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
ts

2000-01-31   -0.302566
2000-02-29    0.556476
2000-03-31    0.425824
Freq: M, dtype: float64